@using BlogAndShop.Data.Data.Common
@using BlogAndShop.Services
@using BlogAndShop.Services.Classes
@model BlogAndShop.Data.ViewModel.Product.ProductItemViewModel
@{
	ViewBag.metaDescription = Model.ProductModel.MetaDescription;
	ViewBag.metaTitle = Model.ProductModel.Title;
	ViewBag.metaKeywords = Model.ProductModel.Keywords;
	string bannerPath = await Html.GetMediaPath(Model.ProductModel.BannerImageId);
}

<!-- PRODUCT -->
<section class="pt-5">
	<div class="container">

		<!-- Breadcrumbs -->
		<div class="mb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb fs--14">
					<li class="breadcrumb-item"><a class="text-gray-500" asp-controller="Home" asp-action="Index">خانه</a></li>
					<li class="breadcrumb-item text-gray-500 active" aria-current="page">@Model.Group.Title</li>
				</ol>
			</nav>

			<!-- TITLE -->
			<h1 class="h2 h3-xs font-weight-normal mb-5 text-danger">
				@Model.ProductModel.Title
			</h1>
		</div>
		<!-- /Breadcrumbs -->




		<div class="row">

			<div class="col-lg-8 col-md-6 order-1 mb-5">


				<!-- IMAGES -->
				<!--
					Swiper require thumbnails to be first initialized!
					Thanks to Bootstrap, we can set quick and simple the order!
				-->
				<div class="row">

					<!-- SECONDARY SWIPER : THUMBS -->
					<div class="col-12 order-2">

						<!--

							SWIPER SLIDER : THUMBS

						-->
						<div id="swiper_secondary" class="swiper-container swiper-thumbs mt-3"
							 data-swiper='{
											"slidesPerView": 6,
											"spaceBetween": 6,
											"autoplay": false,
											"loop": false,
											"zoom": false,
											"effect": "slide",
											"pagination": null,
											"watchSlidesVisibility": true,
		      								"watchSlidesProgress": true,
		      								"loopedSlides": 1,
		      								"thumbs": {
		      									"slideThumbActiveClass": "bg-theme-color-light border-bottom border-primary-soft bw--3"
		      								},
											"breakpoints": {
												"920": 	{ "slidesPerView": "4" }
											}
										}'>

							<div class="swiper-wrapper text-center">

								<!-- slider 1 -->
								<div class="swiper-slide py-2 rounded cursor-pointer">
									<img height="80" class="bg-suprime rounded max-h-600"
										 src="@bannerPath"
										 alt="@Model.ProductModel.Title">
								</div>
								@foreach (var item in Model.Images)
								{
									<!-- slider 2 -->
									<div class="swiper-slide py-2 rounded cursor-pointer">
										<img height="80" class="bg-suprime rounded max-h-600"
											 src="@item.Path"
											 alt="@item.Title">
									</div>
								}

							</div>

						</div>
						<!-- /SWIPER  : THUMBS -->

					</div>


					<!-- PRIMARY SWIPER -->
					<div class="col-12 order-1">


						<!--

							SWIPER SLIDER
							w-75 w-100-xs 		= 70% width on desktop, 100% mobile
							swiper-white 		= white buttons. (swiper-primary, swiper-danger, etc)

							By default, Smarty controller will reconfigure swiper if -only- one image detected:
								- remove arrows
								- remove progress/bullets
								- disable loop
							Add .js-ignore class to skip, if for some reason is needed!

						-->
						<div id="swiper_primary" class="swiper-container swiper-preloader swiper-white mx-auto"
							 data-swiper-link="swiper_secondary"
							 data-swiper='{
											"slidesPerView": 1,
											"spaceBetween": 0,
											"autoplay": false,
											"loop": true,
											"zoom": true,
											"effect": "slide",
											"loopedSlides": 1,
											"breakpoints": {
												"920": 	{ "slidesPerView": "1" }
											}
										}'>

							<!--

								NOTE: only the first image is NOT using lazy loading (to avoid 'jumping')
								lazy is optional but recommended: ~80% of visitors don't slide through images!

								Images are using srcset for responsiveness!

							-->
							<div class="swiper-wrapper text-center">

								<!-- slider 1 -->
								<div class="swiper-slide">
									<div class="swiper-zoom-container">
										<img class="bg-suprime img-fluid rounded max-h-600"
											 sizes="(max-width: 768px) 100vw"
											 srcset="
																@bannerPath 1200w,
																@bannerPath 768w
														"
											 src="@bannerPath"
											 alt="@Model.ProductModel.Title">
									</div>
								</div>

								@foreach (var item in Model.Images.Where(x => !x.Path.Equals(bannerPath, StringComparison.OrdinalIgnoreCase)))
								{
									<!-- slider 2 -->
									<div class="swiper-slide">
										<div class="swiper-zoom-container">
											<img class="lazy bg-suprime img-fluid rounded max-h-600"
												 sizes="(max-width: 768px) 100vw"
												 srcset="
																@item.Path 1200w,
																@item.Path 768w
														"
												 data-src="@item.Path"
												 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												 alt="@item.Title">
										</div>
									</div>
								}


							</div>

							<!-- Left|Right Arrows -->
							<div class="swiper-button-next rounded-circle shadow-xs d-none d-md-block"></div>
							<div class="swiper-button-prev rounded-circle shadow-xs d-none d-md-block"></div>

						</div>
						<!-- /SWIPER SLIDER -->

					</div>

				</div>
				<!-- /IMAGES -->


			</div>


			<div class="col-lg-4 col-md-6 order-2 mb-5">


				<!-- PRICE -->
				<div class="border-bottom pb-2 mb-4 text-center-xs">
					@Html.Raw(Model.ProductModel.ShortDescription)
				</div>
				<div class="border-bottom pb-2 mb-4 text-center-xs">

					@if (Model.ProductModel.Quantity == 0)
					{
						<p class="fs--25 m-0 font-weight-medium text-danger">
							این محصول موجود نمی باشد.
						</p>
					}
					else
					{
						if (Model.ProductModel.OffPrice == null)
						{
							<p class="fs--25 m-0 font-weight-medium text-danger">
								@Model.ProductModel.Price.ToString("N0") ريال
							</p>
						}
						else
						{
							<p class="text-muted m-0">
								<del>@Model.ProductModel.Price.ToString("N0") ريال</del>
							</p>

							<p class="fs--25 m-0 font-weight-medium text-danger">
								@((decimal)Model.ProductModel.OffPrice).ToString("N0") ريال
							</p>
						}
					}
				</div>


				<!-- Form -->
				<form novalidate class="bs-validate" method="get" asp-controller="UserPayment" asp-action="AddCartItem" data-error-scroll-up="true">
					<input type="hidden" name="productId" value="@Model.ProductModel.Id" />
					<!-- ADD TO CART -->
					<div class="d-flex ml-0 mr-0 mt-2">


						@if (Model.ShoppingModel == ShoppingModel.Cart && Model.ProductModel.Quantity >= 1)
						{
							<div class="pl-2 pr-2 w-100">
								<!-- QUANTITY INPUT -->
								<div>
									<span class="js-form-advanced-limit-info badge badge-warning hide animate-bouncein position-absolute absolute-top start-0 m-1 z-index-5">
										لطفا, بین 1 و @Model.ProductModel.Quantity انتخاب کنید.
									</span>

									<input required type="number" name="qty" value="1" step="1" min="1" max="@Model.ProductModel.Quantity" class="form-control text-center js-form-advanced-limit w--80 h-100 m-0" data-toggle="tooltip" data-original-title="quantity">
								</div>
								<button type="submit" class="btn btn-danger bg-gradient-danger text-white px-4 b-0 btn-block">
									<span class="px-4 p-0-xs">
										<i>
											<svg width="22px" height="22px" x="0px" y="0px" viewBox="0 10 459.529 500.529">
												<path fill="#ffffff" d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2    l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17    s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17    S7.65,55.231,17,55.231z"></path>
												<path fill="#ffffff" d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764    S114.183,438.298,135.433,438.298z"></path>
												<path fill="#ffffff" d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05    c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083    C339.433,422.431,356.15,438.298,376.267,438.298z"></path>
											</svg>
										</i>


										<span class="fs--18 pl-2 pr-2">افزودن به سبد خرید</span>
									</span>

									<!-- free shipping : optional : good for conversions -->
									<!--<span class="d-block pt-2 pb-1">
										<span class="hr"></span>
										<span class="font-light fs--13 opacity-7 d-block mt-2">
											ارسال رایگان
										</span>
									</span>-->
									<!-- /free shipping : optional : good for conversions -->

								</button>
							</div>
						}
						else
						{
							<div class="pl-2 pr-2 w-100">
								<button type="button" class="btn btn-danger bg-gradient-danger text-white px-4 b-0 btn-block" data-toggle="modal" data-target="#exampleModalMd">
									>
									<span class="px-4 p-0-xs">
										<i>
											<svg width="22px" height="22px" x="0px" y="0px" viewBox="0 10 459.529 500.529">
												<path fill="#ffffff" d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2    l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17    s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17    S7.65,55.231,17,55.231z"></path>
												<path fill="#ffffff" d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764    S114.183,438.298,135.433,438.298z"></path>
												<path fill="#ffffff" d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05    c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083    C339.433,422.431,356.15,438.298,376.267,438.298z"></path>
											</svg>
										</i>


										<span class="fs--18 pl-2 pr-2">ثبت درخواست تماس</span>
									</span>

								</button>
							</div>
						}

					</div>

				</form>
				<!-- /Form -->
				<div class="mt-5">

					<h3 class="h5">
						Specifications
					</h3>

					<!-- specs list -->
					<ul class="list-unstyled mb-0">


						<li class="list-item clearfix border-bottom py-3">
							<a asp-controller="Shop" asp-action="Index" asp-route-brandName="@Model.ProductModel.Brand.Name.GetRouteTextString()" class="float-end link-muted">
								@Model.ProductModel.Brand.Name
							</a>
							<span class="text-muted">
								<i class="fi fi-brain fs--20"></i>
								<span class="d-inline-block px-2">برند</span>
							</span>
						</li>

					</ul>
					<!-- /specs list -->
				</div>
			</div>

		</div>


	</div>
</section>
<!-- /PRODUCT -->
<!-- INFO BOX -->
<section class="border-top border-bottom p-0">
	<div class="container py-3">

		<div class="row">

			<div class="col-6 col-lg-3 p--15 d-flex d-block-xs text-center-xs" data-aos="fade-in" data-aos-delay="150">

				<div class="pl--10 pr--20 fs--50 line-height-1 pt--6">
					<img width="60" height="60" src="~/lib/Smarty/demo.files/svg/ecommerce/money_bag.svg" alt="...">
				</div>

				<div class="my-2">

					<h2 class="font-weight-medium fs--20 mb-0">
						Money Back
					</h2>

					<p class="m-0">
						30-days money back
					</p>

				</div>

			</div>

			<div class="col-6 col-lg-3 p--15 d-flex d-block-xs text-center-xs border-dashed border-light bw--1 bt-0 br-0 bb-0 b--0-lg" data-aos="fade-in" data-aos-delay="250">

				<div class="pl--10 pr--20 fs--50 line-height-1 pt--6">
					<img width="60" height="60" src="~/lib/Smarty/demo.files/svg/ecommerce/free-delivery-truck.svg" alt="...">
				</div>

				<div class="my-2">

					<h2 class="font-weight-medium fs--20 mb-0">
						Free Shipping
					</h2>

					<p class="m-0">
						Shipping is on us
					</p>

				</div>

			</div>

			<div class="col-6 col-lg-3 p--15 d-flex d-block-xs text-center-xs border-dashed border-light bw--1 bl-0 br-0 bb-0 b--0-lg" data-aos="fade-in" data-aos-delay="350">

				<div class="pl--10 pr--20 fs--50 line-height-1 pt--6">
					<img width="60" height="60" src="~/lib/Smarty/demo.files/svg/ecommerce/24-hours-phone-service.svg" alt="...">
				</div>

				<div class="my-2">

					<h2 class="font-weight-medium fs--20 mb-0">
						Free Support
					</h2>

					<p class="m-0">
						24/24 available
					</p>

				</div>

			</div>

			<div class="col-6 col-lg-3 p--15 d-flex d-block-xs text-center-xs border-dashed border-light bw--1 bb-0 br-0 b--0-lg" data-aos="fade-in" data-aos-delay="450">

				<div class="pl--10 pr--20 fs--50 line-height-1 pt--6">
					<img width="60" height="60" src="~/lib/Smarty/demo.files/svg/ecommerce/handshake.svg" alt="...">
				</div>

				<div class="my-2">

					<h2 class="font-weight-medium fs--20 mb-0">
						Best Deal
					</h2>

					<p class="m-0">
						Quality guaranteed
					</p>

				</div>


			</div>

		</div>

	</div>
</section>
<!-- /INFO BOX -->
<!-- SUGGESTIONS LINKS -->
<section class="pb--10 bg-light">
	<div class="container">

		<h2 class="h4 mb-5">
			لینک های محصول
		</h2>

		<div class="table-responsive">

			@foreach (var item in Model.ForumTitles)
			{
				<a asp-controller="Forum" asp-action="Item" asp-route-id="@item.Id" class="btn btn-pill btn-dark shadow-none transition-hover-top">
					<!-- .max-height-80  = limited to 2 rows of text -->
					<span class="d-block fs--16 max-h-50 overflow-hidden">
						@item.Title
					</span>

				</a>

			}
			@if (Model.ProductModel.Brand != null && !string.IsNullOrEmpty(Model.ProductModel.Brand.SiteUrl))
			{

				<a href="@Model.ProductModel.Brand.SiteUrl" class="btn btn-pill btn-dark shadow-none transition-hover-top">
					<!-- .max-height-80  = limited to 2 rows of text -->
					<span class="d-block fs--16 max-h-50 overflow-hidden">
						معرفی برند @Model.ProductModel.Brand.Name
					</span>

				</a>
			}



		</div>


	</div>
</section>
<!-- /SUGGESTIONS LINKS -->
<!-- SUGGESTIONS -->
<section>
	<div class="container">

		<h2 class="h4 mb-0">
			محصولات مشابه
		</h2>



		<!--

			SWIPER SLIDER

		-->
		<div class="swiper-container swiper-preloader"
			 data-swiper='{
							"slidesPerView": 5,
							"spaceBetween": 10,
							"autoplay": false,
							"loop": true,
							"pagination": { "type": "bullets" },
							"breakpoints": {
								"1200": { "slidesPerView": "4" },
								"1024": { "slidesPerView": "3" },
								"0": 	{ "slidesPerView": "2" }
							}
						}'>

			<!--

				NOTE: do not use lazy when loop is true!

			-->
			<div class="swiper-wrapper">

				@foreach (var item in Model.SuggestedProducts)
				{
					<!-- slider 1 -->
					<div class="swiper-slide">

						<div class="bg-white shadow-xs shadow-md-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-2 my-5">

							<a asp-controller="Shop" asp-action="Item" asp-route-productId="@item.Id" class="text-decoration-none">

								<figure class="pt--30 pb--30 pl--6 pr--6 m-0 text-center bg-light-radial rounded-top">
									<img src="@item.BannerImage" alt="@item.Title" class="img-fluid max-h-150 bg-suprime opacity-9">
								</figure>

								<div class="text-center-xs text-gray-600 py-3">

									<!-- .max-height-80  = limited to 2 rows of text -->
									<span class="d-block fs--16 max-h-50 overflow-hidden">
										@item.Title
									</span>

									<span class="d-block text-danger font-weight-medium fs--16 mt-2">
										@if (item.OffPrice == null)
										{
											@item.Price.ToString("N0")<sup>ريال</sup>
										}
										else
										{

											<del class="text-muted">@item.Price.ToString("N0")<sup>ريال</sup></del>

											<span>@((decimal)item.OffPrice).ToString("N0")<sup>ريال</sup></span>
										}


									</span>

								</div>

							</a>

						</div>

					</div>


				}

			</div>


			<!-- Bullets -->
			<div class="swiper-pagination"></div>

		</div>
		<!-- /SWIPER SLIDER -->


	</div>
</section>
<!-- /SUGGESTIONS -->
<!-- DESCRIPTION -->
<section class="bg-light">
	<div class="container">

		<h2 class="font-weight-light mb-4 text-center-xs">
			توضیحات
		</h2>



		<!--
			.article-format class will add some slightly formattings for a good text visuals.
			This is because most editors are not ready formatted for bootstrap
			The content should come inside this container, as it is from database!
			src/scss/_core/base/_typography.scss
		-->
		<div class="lead article-format">

			@Html.Raw(Model.ProductModel.Description)
		</div>

		<!-- last update info -->
		<div class="fs--14 font-weight-light mt-1 text-muted">
			آخرین بروزرسانی <time datetime="@Model.ProductModel.UpdateDateTime.ToString("yyyy-MM-dd")">@Model.ProductModel.UpdateDateTime.ToLongDateString()</time>
		</div>

	</div>
</section>
<!-- /DESCRIPTION -->
<!-- Modal -->
<div class="modal fade" id="exampleModalMd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelMd" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form novalidate class="bs-validate" id="ProductRequestForm" method="post" asp-controller="AjaxService" asp-action="AddCallRequest">
				<input type="hidden" name="ProductId" id="ProductId" value="@Model.ProductModel.Id" />
				<div class="modal-header">
					<h2 class="modal-title fs--18 m-0">
						افزودن درخواست برای سفارش محصول
					</h2>

					<button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
						<span class="fi fi-close fs--18" aria-hidden="true"></span>
					</button>
				</div>

				<div class="modal-body">

					<div class="row">

						<div class="col-12 col-sm-12 col-lg-12">

							<div class="form-label-group mb-3">
								<p>لطفا اطلاعات تماس خود را وارد نمایید تا کارشناسان فروش ما در اسرع وقت برای ثبت سفارش با شما تماس بگیرند.</p>
							</div>

						</div>
						<div class="col-12 col-sm-6 col-lg-6">

							<div class="form-label-group mb-3">
								<input required placeholder="City/Town" id="PhoneNumber" name="PhoneNumber" type="text" class="form-control">
								<label for="addr_city">شماره تماس</label>
							</div>

						</div>


						<div class="col-12 col-sm-6 col-lg-6">

							<div class="form-label-group mb-3">
								<input placeholder="Zip / Postal Code" id="Name" name="Name" type="text" class="form-control">
								<label for="addr_zipcode">نام</label>
							</div>

						</div>



						<div class="col-12 col-sm-12 col-lg-12 mb--20">

							<div class="form-label-group mb-3">
								<input placeholder="توضیحات" id="Description" name="Description" type="text" class="form-control">
								<label for="addr_address_1">توضیحات</label>
							</div>


						</div>





					</div>

				</div>

				<div class="modal-footer">
					<button type="submit" onclick="" class="btn btn-sm btn-primary">
						<i class="fi fi-check"></i>
						ذخیره
					</button>

					<a href="#" class="btn btn-sm btn-secondary" data-dismiss="modal">
						<i class="fi fi-close"></i>
						انصراف
					</a>
				</div>

			</form>
		</div>
	</div>
</div>
