@using BlogAndShop.Services.Classes.Date
@using BlogAndShop.Data.ViewModel.Admin
@model List<BlogAndShop.Data.ViewModel.Admin.NewNotificationModel>

<li class="list-inline-item ml--6 mr--6 dropdown">

	<a href="#" id="dropdownMessageOptions" class="btn btn-sm rounded-circle btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
		@{
			var count = Model.Count;
		}
		@if (count != 0)
		{
			<!-- badge -->
			<span class="badge badge-danger shadow-danger-md animate-pulse fs--10 p--3 mt--n3 position-absolute end-0">@count</span>
		}

		<span class="group-icon">
			<i class="fi fi-envelope-2"></i>
			<i class="fi fi-close"></i>
		</span>
	</a>

	<div aria-labelledby="dropdownMessageOptions" class="dropdown-menu dropdown-menu-clean dropdown-menu-navbar-autopos dropdown-menu-invert dropdown-click-ignore p-0 mt--18 fs--15 w--300">

		<div class="dropdown-header fs--14 py-3">
			@if (count == 0)
			{
				<span>پیامی وجود ندارد</span>
			}
			else
			{
				<span>@count پیام جدید</span>
			}
		</div>

		<div class="dropdown-divider"></div>
		@if (count != 0)
		{

			<div class="max-h-50vh scrollable-vertical">
				@foreach (var item in Model)
				{
					var controller = "";
					switch (item.NewNotificationType)
					{
						case NewNotificationType.Forum:
							{
								controller = "ForumTitle";
								break;
							}
						case NewNotificationType.Post:
							{
								controller = "Post";
								break;
							}
						default:
							{
								controller = "Product";
								break;
							}
					}
					<!-- MESSAGE -->
					<a asp-controller="@controller" asp-action="Details" asp-route-id="@item.Id" target="_blank" class="clearfix dropdown-item font-weight-medium px-3 border-bottom border-light overflow-hidden shadow-md-hover bg-theme-color-light">

						<!-- subject -->
						<p class="fs--14 m-0 text-truncate font-weight-normal">
							@item.Text
						</p>

						<!-- date -->
						<small class="d-block fs--11 text-muted">
							@item.Date.ToPeString()
						</small>

					</a>
					<!-- /MESSAGE -->
				}

			</div>

		}
	</div>

</li>