@model BlogAndShop.Data.ViewModel.PostInfo.BlogSideBarModel

<div class="col-lg-3 order-1 order-lg-1 mb-5">


	<!-- CATEGORIES -->
	<nav class="nav-deep nav-deep-light mb-4 shadow-xs shadow-none-md shadow-none-xs px-4 pb-3 p-0-md p-0-xs rounded">

		<!-- mobile trigger : categories -->
		<button class="clearfix btn btn-toggle btn-sm btn-block text-align-left shadow-md border rounded mb-1 d-block d-lg-none" data-target="#nav_responsive" data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
			<span class="group-icon px-2 py-2 float-start">
				<i class="fi fi-bars-2"></i>
				<i class="fi fi-close"></i>
			</span>

			<span class="h5 py-2 m-0 float-start">
				دسته ها
			</span>
		</button>

		<!-- desktop only -->
		<h5 class="pt-3 pb-3 m-0 d-none d-lg-block">
			دسته ها
		</h5>


		<!-- navigation -->
		<ul id="nav_responsive" class="nav flex-column d-none d-lg-block">

			@foreach (var cat in Model.Categories)
			{
				<li class="nav-item">

					@if (cat.SubGroups.Any())
					{
						<a class="nav-link px-0" href="">
							<span class="group-icon">
								<i class="fi fi-arrow-end"></i>
								<i class="fi fi-arrow-down"></i>
							</span>

							<span class="px-2 d-inline-block">
								@cat.Name
							</span>
						</a>

						<ul class="nav flex-column px-3">
							<li class="nav-item">
								<a class="nav-link" asp-controller="Blog" asp-action="Index" asp-route-categoryId="@cat.Id">
									@cat.Name
								</a>
							</li>
							@foreach (var sub in cat.SubGroups)
							{

								<li class="nav-item">
									<a class="nav-link" asp-controller="Blog" asp-action="Index" asp-route-categoryId="@sub.Id">
										@sub.Name
									</a>
								</li>
							}
						</ul>

					}
					else
					{

						<a class="nav-link px-0" asp-controller="Blog" asp-action="Index" asp-route-categoryId="@cat.Id">


							<span class="px-2 d-inline-block">
								@cat.Name
							</span>
						</a>
					}
				</li>
			}
		</ul>

	</nav>
	<!-- /CATEGORIES -->
	<!-- mobile trigger : expand -->
	<button class="clearfix btn btn-toggle btn-sm btn-block text-align-left shadow-md border rounded mb-1 d-block d-lg-none" data-target="#sidebar_expand_mobile" data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
		<span class="group-icon px-2 py-2 float-start">
			<i class="fi fi-bars-2"></i>
			<i class="fi fi-close"></i>
		</span>

		<span class="h5 py-2 m-0 float-start">
			ببینید
		</span>
	</button>


	<div id="sidebar_expand_mobile" class="d-none d-lg-block">

		<!-- RECOMMENDED -->
		<h3 class="h5 mt-5 mt-0-xs">
			برترین ها
		</h3>
		<ul class="list-unstyled">
			@foreach (var item in Model.TopPosts)
			{

				<li class="list-item border-bottom py-1">
					<a class="text-dark font-weight-light fs--15" asp-controller="Blog" asp-action="Item" asp-rout-postId="@item.PostId">@item.PostTitle</a>
				</li>
			}

		</ul>
		<!-- /RECOMMENDED -->
		<!-- BANNER -->
		@Html.Raw(Model.AdvertizeHtml)
		<!-- /BANNER -->

	</div>
</div>