
@model List<BlogAndShop.Data.ViewModel.Product.LinkGroupHeaderViewModel>



<li class="nav-item dropdown">

	<a href="#" id="mainNavShopGategories" class="nav-link dropdown-toggle"
	   data-toggle="dropdown"
	   aria-haspopup="true"
	   aria-expanded="False">
		نوشته ها
	</a>

	<div aria-labelledby="mainNavHome" class="dropdown-menu dropdown-menu-clean dropdown-menu-hover">
		<ul class="list-unstyled m-0 p-0">
			<li class="dropdown-item"><a asp-controller="Blog" asp-action="Index" class="dropdown-link">بلاگ</a></li>
			@foreach (var cat in Model)
			{
				@if (cat.SubGroups != null && cat.SubGroups.Any())
				{
					<li class="dropdown-item dropdown">
						<a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@cat.Id" class="dropdown-link" data-toggle="dropdown">@cat.Name</a>
						<ul class="dropdown-menu dropdown-menu-hover dropdown-menu-block-md shadow-lg b-0 m-0">
							<li class="dropdown-item"><a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@cat.Id" class="dropdown-link">@cat.Name</a></li>
							@foreach (var sub in cat.SubGroups)
							{
								<li class="dropdown-item"><a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@sub.Id" class="dropdown-link">@sub.Name</a></li>
							}
						</ul>
					</li>
				}
				else
				{

					<li class="dropdown-item">
						<a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@cat.Id" class="dropdown-link">@cat.Name</a>
					</li>
				}
			}
		</ul>
	</div>

</li>