@using BlogAndShop.Services
@model BlogAndShop.Data.ViewModel.Common.MediaModel

@{
	Layout = "_AdminLayout";
}

<!-- counter:start: -->
<div class="row gutters-sm">

	<!-- start:col: -->
	<div class="col-12 col-xl-12 mb-3">

		<!-- start:portlet -->
		<div class="portlet">

			<div class="portlet-header border-bottom">
				<span>ویرایش</span>
			</div>

			<div class="portlet-body">
				<div class="container py-6">

					<a href="@Model.Path" target="_blank" class="btn btn-sm btn-purple">
						<i class="fi fi-arrow-download"></i>
						@Model.Title
					</a>
					<form method="post" enctype="multipart/form-data">
						@await Component.InvokeAsync("EditCreateTemplate", new { Model, Html.ViewContext.HttpContext })

						<div class="form-group mb-3">

							<label asp-for='PathFile'></label>


							<div class="input-group">
								<div class="custom-file custom-file-primary">

									@{ var uploadName = "PathFile";}
									<input name="@uploadName"
										   type="file"
										   data-file-toast-position="bottom-center"
										   data-file-preview-container=".js-file-input-preview-single-container2"
										   data-file-preview-img-height="150"
										   data-file-preview-show-info="true"
										   data-file-preview-class="shadow-md m-2 rounded float-start"
										   data-file-btn-clear="a.js-file-upload-clear2"
										   class="custom-file-input"
										   id="@uploadName">

									<label class="custom-file-label" for="inputGroupFile02">انتخاب فایل</label>

								</div>
							</div>


							<div class="js-file-input-preview-single-container2 ml--n6 mr--n6 mt-4 hide-empty">
								<!-- preview container -->
							</div>

							<!--
							clear files button
							hidden by default
							-->
							<div class="mt-1">
								<a href="#" class="hide js-file-upload-clear2 btn btn-light btn-sm">
									حذف فایل
								</a>
							</div>

						</div>
						<div class="mt--10">
							<button class="btn btn-primary" type="submit">تایید</button>
							<a asp-action="Index" class="btn btn-dark">لیست</a>
							@if (Model.Id != 0)
							{
								<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-purple">جزییات</a>
							}
						</div>
					</form>

				</div>
			</div>

		</div>
		<!-- end:portlet -->

	</div>
	<!-- end:col: -->

</div>
<!-- end:row: -->