
@model BlogAndShop.Data.ViewModel.Common.ListPaginationModel
<!-- pagination -->
<nav aria-label="pagination">
	<ul class="pagination pagination-pill justify-content-end justify-content-center justify-content-md-end">

		@{
			int next = Model.Page + 1;
			int pre = Model.Page - 1;
		}
		@if (!Model.HasPre)
		{
			<li class="page-item disabled btn-pill ">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبلی</a>
			</li>
		}
		else
		{
			<li class="page-item btn-pill ">
				<a class="page-link" asp-route-page="@pre" tabindex="-1">قبلی</a>
			</li>
		}
		@{
			var showAll = Model.PagesCount <= 10;
			var toShowCount = 3;
		}
		@for (int i = 1; i <= Model.PagesCount; i++)
		{
			if (i == Model.Page)
			{
				<li class="page-item active" aria-current="page">
					<a class="page-link" asp-route-page="@i">@i <span class="sr-only">(فعلی)</span></a>
				</li>
			}
			else if (showAll || (i >= Model.Page - toShowCount && i <= Model.Page + toShowCount) || i == 1 || i == Model.PagesCount)
			{
				if (i == Model.PagesCount && !showAll && Model.Page + toShowCount + 1 < i)
				{
					<li class="page-item disabled hide-sm">
						<a class="page-link" href="#" aria-disabled="true">...</a>
					</li>
				}
				<li class="page-item hide-sm" aria-current="page">
					<a class="page-link" asp-route-page="@i">@i</a>
				</li>
				if (i == 1 && !showAll && Model.Page - toShowCount - 1 > i)
				{
					<li class="page-item disabled hide-sm">
						<a class="page-link" href="#" aria-disabled="true">...</a>
					</li>
				}
			}
		}

		@if (!Model.HasNext)
		{
			<li class="page-item disabled">
				<a class="page-link" href="#" aria-disabled="true">بعدی</a>
			</li>
		}
		else
		{
			<li class="page-item">
				<a class="page-link" asp-route-page="@next">بعدی</a>
			</li>
		}

	</ul>
</nav>
<!-- pagination -->