
@model BlogAndShop.Data.ViewModel.Forum.ForumListViewModel
<!-- PAGE TITLE -->
<section class="bg-white p--30">
	<div class="container">

		<h1 class="h2">
			انجمن
		</h1>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb fs--14">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
				<li class="breadcrumb-item active" aria-current="page">انجمن</li>
			</ol>
		</nav>

	</div>
</section>
<!-- /PAGE TITLE -->
<!-- FAQ -->
<section class="p--30">
	<div class="container">

		<div class="row">

			@await Component.InvokeAsync("ForumSideBar")

			<div class="col-12 col-lg-8">

				<!--
					.article-format class will add some slightly formattings for a good text visuals.
					This is because most editors are not ready formatted for bootstrap
					Blog content should come inside this container, as it is from database!
					src/scss/_core/base/_typography.scss
				-->
				<div class="bg-white p-5 p-4-xs rounded-xl article-format">
					@foreach (var item in Model.Forums)
					{
						@* item *@
						<div>

							<h2 class="h4 text-primary font-weight-normal"><a asp-controller="Forum" asp-action="Item" asp-route-id="@item.Id">@item.Title</a></h2>
							<p>@Html.Raw(item.Description)</p>
							<ul class="list-inline my-4">
								<li class="list-inline-item d-block-xs m-0-xs">
									<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

										<span class="group-icon">
											<i class="fi fi-user-male"></i>
											<i class="fi fi-user-male text-primary"></i>
										</span>

										<span>@item.UsersCount کاربر</span>
									</a>

								</li>

								<li class="list-inline-item d-block-xs m-0-xs">
									<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

										<span class="group-icon">
											<i class="fi fi-chat"></i>
											<i class="fi fi-chat text-primary"></i>
										</span>

										<span>@item.CommentsCount پاسخ</span>
									</a>

								</li>

								<li class="list-inline-item d-block-xs m-0-xs">
									<a asp-controller="Forum" asp-action="Item" asp-route-id="@item.Id" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

										<span class="group-icon">
											<i class="fi fi-plus"></i>
											<i class="fi fi-plus text-primary"></i>
										</span>

										<span>ورود به بحث</span>
									</a>

								</li>
							</ul>

						</div>
						@* item *@
					}

				</div>

			</div>

		</div>

	</div>
</section>
<!-- /FAQ -->
