@using BlogAndShop.Services
@using CommonConfiguration.Core.Services.Classes.Date
@model BlogAndShop.Data.ViewModel.Forum.ForumItemViewModel
<!-- PAGE TITLE -->
<section class="bg-white p--30">
	<div class="container">

		<h1 class="h2">
			انجمن
		</h1>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb fs--14">
				<li class="breadcrumb-item"><a asp-controller="Forum" asp-action="Index">انجمن</a></li>
				<li class="breadcrumb-item active" aria-current="page">@Model.ForumTitleModel.Title</li>
			</ol>
		</nav>

	</div>
</section>
<!-- /PAGE TITLE -->
<!-- FAQ -->
<section class="p--30">
	<div class="container">

		<div class="row">

			@await Component.InvokeAsync("ForumSideBar")

			<div class="col-12 col-lg-8">

				<!--
					.article-format class will add some slightly formattings for a good text visuals.
					This is because most editors are not ready formatted for bootstrap
					Blog content should come inside this container, as it is from database!
					src/scss/_core/base/_typography.scss
				-->
				<div class="bg-white p-5 p-4-xs rounded-xl article-format">

					<!-- COMMENTS -->
					<div class="clearfix mt-5">
						<p>
							@Html.Raw(Model.ForumTitleModel.Description)
						</p>
						<!-- LIST COMMENTS -->
						<h3 class="font-weight-light mb-4">
							@Model.ForumTitleModel.ForumComments.Count نظر
						</h3>


						@foreach (var item in Model.ForumTitleModel.ForumComments)
						{

							<!-- Comment 1 + Reply -->
							<div class="media mb-4">

								<!-- avatar : as background -->
								<div class="w--100 text-center">
									<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover">
										<i class="fi fi-user-male fs--40 d-block mt-1 text-gray-500"></i>
									</div>
									<span class="d-block text-dark">@item.UserName</span>
									<small class="d-block text-dark fs--12">@item.CreateDateTime.ToPeString()</small>
								</div>

								<div class="media-body">
									<p>
										@item.Text
									</p>
								</div>

							</div>
							<!-- /Comment 1 + Reply -->
						}
						<!-- /LIST COMMENTS -->

						<div id="NewComment">
							@if (User.Identity == null || !User.Identity.IsAuthenticated)
							{
								<div class="alert alert-primary" role="alert">
									برای نظر گذاشتن باید وارد شوید
									<a rel="nofollow" asp-controller="Account" asp-action="Index" asp-route-ReturnUrl="/Forum/Item/@Model.ForumTitleModel.Id">ورود</a>
								</div>
							}
							else
							{
								<!-- already logged in -->
								<span class="d-block text-muted fs--12 mb-1">
									نظر گذاشتن با نام: <b>@await Html.GetUserName()</b>.
									<a rel="nofollow" asp-controller="Account" asp-action="Logout">خروج</a>
								</span>

								<!-- Write Comment Form -->
								<form novalidate method="post" action="#" id="newCommentForm" class="bs-validate d-block bg-white shadow-primary-xs rounded p-3 mb-5">
									<input type="hidden" name="ForumId" id="ForumId" value="@Model.ForumTitleModel.Id" />
									<div class="clearfix mb-3">

										<div class="form-label-group">
											<textarea required rows="3" id="Text"
													  data-output-target=".js-form-advanced-char-left"
													  class="form-control js-form-advanced-char-count-down"
													  maxlength="3000" placeholder="نظر شما"></textarea>
											<label for="comment_description">نظر شما</label>
										</div>

										<span class="fs--12 text-muted text-align-end float-end mt-1">
											کاراکتر های باقیمانده: <span class="js-form-advanced-char-left">3000</span>
										</span>

									</div>



									<button type="submit" class="btn btn-primary btn-sm">
										ارسال نظر
									</button>
								</form>
								<!-- /Write Comment Form -->

							}

						</div>
					</div>

					<!-- /COMMENTS -->
				</div>

			</div>

		</div>

	</div>
</section>
<!-- /FAQ -->
