@using BlogAndShop.Services.Classes.Date
@model BlogAndShop.Data.ViewModel.PostInfo.PostModel
@{
	ViewBag.metaDescription = Model.Description;
	ViewBag.metaTitle = Model.Title;
	ViewBag.metaKeywords = Model.Keywords;
}


<!-- start :: blog content -->
<section>
	<div class="container">

		<div class="row">

			@await Component.InvokeAsync("BlogSideBar")
			<div class="col-lg-9 order-2 order-lg-1">

				<div class="mb-4">

					<h1 class="h3 h4-xs font-weight-medium mb-0">
						Staff Training: 10 Expert Tips to Get New Employees Up to Speed
					</h1>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb fs--14 mb-3">
							<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
							<li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">بلاگ</a></li>
							<li class="breadcrumb-item"><a href="#">@Model.Title</a></li>
						</ol>
					</nav>

					<p class="d-block text-muted fs--14">
						تاریخ ارسال: <time datetime="@Model.CreateDateTime.ToString("yyyy-MM-dd")">@Model.CreateDateTime.ToPeString()</time>
					</p>

				</div>



				<!-- FEATURED POST : ALWAYS LAST ADDED -->
				<div class="clearfix mb-5">

					<img class="img-fluid" src="@Model.BannerImage" alt="@Model.Title">

				</div>
				<!-- /FEATURED POST : ALWAYS LAST ADDED -->
				<!--
					.article-format class will add some slightly formattings for a good text visuals.
					This is because most editors are not ready formatted for bootstrap
					Blog content should come inside this container, as it is from database!
					src/scss/_core/base/_typography.scss
				-->
				<div class="article-format">

					@Html.Raw(Model.HtmlContent)

				</div>


				<p class="text-muted border-bottom pb-2 fs--13 mt--60">
					آخرین بروز رسامی: @Model.UpdateDateTime.ToPeString()
				</p>


				<!-- Tags and share -->
				<div class="row">
					<div class="col-6">

						<h4 class="fs--13 text-muted">
							تگ ها
						</h4>

						@foreach (var tag in Model.Tags)
						{
							<a href="#!" class="text-dark bg-light fs--13 rounded py-2 px-3 m-1 text-decoration-none" rel="nofollow">
								@tag.Title
							</a>
						}


					</div>

					<div class="col-6 col-6 text-align-end">

						<h4 class="fs--13 text-muted">
							Share with your friends &amp; family
						</h4>

						<a href="#" class="btn btn-sm btn-facebook rounded-circle transition-hover-top mb-2" rel="noopener" target="smarty">
							<i class="fi fi-social-facebook m-0"></i>
						</a>
						<a href="#" class="btn btn-sm btn-twitter rounded-circle transition-hover-top mb-2" rel="noopener" target="smarty">
							<i class="fi fi-social-twitter m-0"></i>
						</a>

					</div>
				</div>
				<!-- /Tags and share -->
				<!-- Related Posts -->
				<h3 class="h5 mt-5 mb-4">
					پست های مشابه
				</h3>

				<div class="row">
					@foreach (var item in Model.RelatedPosts)
					{

						<!-- post -->
						<a target="_blank" asp-controller="Blog" asp-action="Item" asp-route-postId="@item.Id" class="col-6 col-md-4 mb-5 position-relative text-dark clearfix text-decoration-none">

							<figure class="d-block text-center overlay-dark-hover overlay-opacity-2 rounded overflow-hidden">
								<img class="img-fluid rounded" src="@item.BannerImage" alt="@item.Title">
							</figure>

							<p class="mt--20 fs--20 mb--6">
								<span class="h6 text-dark d-block">
									@item.Title
								</span>

								<span class="d-block text-muted font-regular fs--14">
									تاریخ: <time datetime="@item.UpdateDateTime.ToString("yyyy-MM-dd")">@item.UpdateDateTime.ToPeString()</time>
								</span>
							</p>

						</a>
						<!-- /post -->

					}
				</div>
				<!-- /Related Posts -->
				<!-- COMMENTS -->
				<div class="clearfix mt-5">
					<h3 class="font-weight-light mb-4">
						نظرات کاربران
					</h3>
					@if (!string.IsNullOrEmpty(Model.MessageText))
					{
						<h3 class="alert alert-success">
							@Model.MessageText
						</h3>
					}
					@if (User.Identity.IsAuthenticated)
					{
						<div id="replyAlert"></div>
						<!-- Write Comment Form -->
						<form novalidate method="post" asp-controller="Blog" asp-action="AddComment" class="bs-validate d-block bg-white shadow-primary-xs rounded p-3 mb-5">
							<input type="hidden" name="ParentId" id="CommentParentId" />
							<input type="hidden" name="PostId" value="@Model.Id" />

							<div class="clearfix mb-3">

								<div class="form-label-group">
									<textarea required rows="3" name="Text" id="comment_description"
											  data-output-target=".js-form-advanced-char-left"
											  class="form-control js-form-advanced-char-count-down"
											  maxlength="3000" placeholder="متن نظر"></textarea>
									<label for="comment_description">نظر شما</label>
								</div>

								<span class="fs--12 text-muted text-align-end float-end mt-1">
									کاراکترهای باقیمانده: <span class="js-form-advanced-char-left">3000</span>
								</span>

							</div>




							<button type="submit" class="btn btn-primary btn-sm">
								تایید نظر
							</button>
						</form>
						<!-- /Write Comment Form -->
					}
					else
					{
						<div class="bs-validate d-block bg-white shadow-primary-xs rounded p-3 mb-5">
							<p>برای نظر دادن وارد شوید.</p>
						</div>
					}
					<!-- LIST COMMENTS -->
					<h3 class="font-weight-light mb-4">
						@Model.CommentsModel.Count نظر
					</h3>


					@foreach (var item in Model.CommentsModel)
					{

						<!-- Comment 1 + Reply -->
						<div class="media mb-4">

							<!-- avatar : as background -->
							<div class="w--100 text-center">
								<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover">
									<i class="fi fi-user-male fs--40 d-block mt-1 text-gray-500"></i>
								</div>
								<span class="d-block text-dark">@item.OwnerName</span>
								<small class="d-block text-dark fs--12">@item.DateTime.ToPeString()</small>
							</div>

							<div class="media-body">
								<p>@item.Text</p>

								<!-- options -->
								<ul class="list-inline mt--20 mb--20">

									<!-- reply -->
									<li class="list-inline-item">

										<a href="#" class="js-ajax-modal btn btn-light py-1 px-2 fs--14"
										   onclick="ReplyPostComment('@item.Id','@item.OwnerName')">
											<i class="fi fi-plus"></i>
											<span>پاسخ</span>
										</a>

									</li>
									<!-- /reply -->

								</ul>
								<!-- /options -->
								<!-- ... replies here ... -->
								<!-- REPLY -->
								@foreach (var child in item.ChildrenComments)
								{

									<div class="media mb-4">

										<!-- avatar : as background -->
										<div class="w--100 text-center">
											<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover">
												<i class="fi fi-user-male fs--40 d-block mt-1 text-gray-500"></i>
											</div>
											<span class="d-block text-dark">@child.OwnerName</span>
											<small class="d-block text-dark fs--12">@child.DateTime.ToPeString()</small>
										</div>

										<div class="media-body">
											<p>@child.Text</p>

											<ul class="list-inline mt--20 mb--20">

												<!-- reply -->
												<li class="list-inline-item">

													<!--

													Replies are using an ajax modal!
													Replace with wordpress style, if wordpress used!

													This format can be used on custom blog CMS.

													-->
													<a href="#" class="js-ajax-modal btn btn-light py-1 px-2 fs--14"
													   onclick="ReplyPostComment('@child.Id','@child.OwnerName')">
														<i class="fi fi-plus"></i>
														<span>پاسخ</span>
													</a>

												</li>
												<!-- /reply -->

											</ul>

										</div>

									</div>
								}
								<!-- /REPLY -->

							</div>

						</div>
						<!-- /Comment 1 + Reply -->
					}
					<!-- /LIST COMMENTS -->



				</div>
				<!-- /COMMENTS -->


			</div>
		</div>

	</div>
</section>
<!-- end :: blog content -->
