@using BlogAndShop.Services
@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	@{
		var metaDescription = ViewBag.metaDescription ?? await Html.GetSiteDescription();
		var metaKeywords = ViewBag.metaKeywords ?? await Html.GetSiteKeywords();
		var metaTitle = await Html.GetSiteName() + " - " + ViewBag.metaTitle;
	}

	@*  meta tags *@
	<title>@metaTitle</title>
	<meta name="description" content="@metaDescription">
	<meta property="og:title" content="@metaTitle" />
	<meta property="og:description" content="@metaDescription" />
	<meta property="og:image" content="@await Html.GetSiteLogo()" />
	<meta property="og:url" content="@Context.Request.GetDisplayUrl()" />
	<meta name="keywords" content="@metaKeywords">


	<!-- favicon -->
	<link rel="shortcut icon" href="@await Html.GetSiteLogo()">
	<link rel="apple-touch-icon" href="@await Html.GetSiteLogo()">


	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<!-- up to 10% speed up for external res -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<!-- preloading icon font is helping to speed up a little bit -->
	<link rel="preload" href="~/lib/Smarty/assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

	<!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
	<link rel="stylesheet" href="~/lib/Smarty/assets/css/core.min.css">
	<link rel="stylesheet" href="~/lib/Smarty/assets/css/vendor_bundle.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">


	<link rel="manifest" href="~/lib/Smarty/assets/images/manifest/manifest.json">
	<meta name="theme-color" content="#377dff">

	<link href="~/css/MyStyle.css" rel="stylesheet" />

</head>

<!--

		Available Body Classes
			.layout-boxed 					- boxed layout (ignored if any .header-* class is present)

			.header-scroll-reveal  			- header : hide on scroll down and reveal on scroll up
			.header-sticky  				- header : always visible on top
			.header-over  					- header : over slider|parallax|image (next section must contain a large image, else will be indistinguishable)

				Possible header combinations:
					.header-over + .header-scroll-reveal
					.header-over + .header-sticky
						* NOTE: if .header-sticky + .header-scroll-reveal are both used, .header-scroll-reveal is ignored


			.bg-cover .bg-fixed 			- both classes used with .layout-boxed to set a background image via style="background-image:url(...)"
	-->
<body>

	<div id="wrapper">


		<!-- HEADER -->
		@await Html.PartialAsync("_Header")
		<!-- /HEADER -->
		@RenderBody()
		<!-- Footer -->
		@await Html.PartialAsync("_Footer")
		<!-- /Footer -->


	</div><!-- /#wrapper -->

	<div class="loader hidden"></div>
	<script src="~/lib/Smarty/assets/js/core.min.js"></script>
	<script src="~/js/MyScript.js"></script>

</body>


</html>