@using BlogAndShop.Data.ViewModel.Admin
@using BlogAndShop.Services.Classes.Date
@model List<BlogAndShop.Data.ViewModel.Admin.NewNotificationModel>

<li class="list-inline-item ml--6 mr--6 dropdown">

	<a href="#" id="dropdownNotificationOptions" class="btn btn-sm rounded-circle btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
		@{
			var count = Model.Count;
		}
		@if (count != 0)
		{
			<!-- badge -->
			<span class="badge badge-danger shadow-danger-md animate-pulse fs--10 p--3 mt--n3 position-absolute end-0">@count</span>
		}

		<span class="group-icon">
			<i class="fi fi-bell-full"></i>
			<!-- <i class="fi fi-bell-full-active"></i> -->
			<i class="fi fi-close"></i>
		</span>

	</a>

	<div aria-labelledby="dropdownNotificationOptions" class="dropdown-menu dropdown-menu-clean dropdown-menu-navbar-autopos dropdown-menu-invert dropdown-click-ignore p-0 mt--18 fs--15 w--300">

		<div class="dropdown-header fs--14 py-3">
			@if (count == 0)
			{
				<span>سفارشی وجود ندارد</span>
			}
			else
			{
				<span>@count سفارش جدید</span>
			}
		</div>

		<div class="dropdown-divider"></div>
		@if (count != 0)
		{

			<div class="max-h-50vh scrollable-vertical">

				@foreach (var item in Model)
				{
					var controller = "";
					switch (item.NewNotificationType)
					{
						case NewNotificationType.Forum:
							{
								controller = "ForumTitle";
								break;
							}
						case NewNotificationType.Post:
							{
								controller = "Post";
								break;
							}
						default:
							{
								controller = "ProductCallRequest";
								break;
							}
					}
					<!-- NOTIFICATION -->
					<a asp-controller="@controller" asp-action="Details" asp-route-id="@item.Id" target="_blank" class="clearfix dropdown-item font-weight-medium p-3 border-bottom border-light overflow-hidden shadow-md-hover bg-theme-color-light">

						<!-- badge -->
						<span class="badge badge-success float-end font-weight-normal mt-1">new</span>

						<!-- icon -->
						<i class="fi fi-cart-1 d-middle float-start fs--20 bg-light w--40 h--40 rounded-circle text-center"></i>

						<!-- NOTIFICATION -->
						<p class="fs--14 m-0 text-truncate font-weight-normal">
							@item.Text
						</p>

						<!-- date -->
						<small class="d-block fs--11 text-muted">
							@item.Date.ToPeString()
						</small>

					</a>
					<!-- /NOTIFICATION -->

				}
			</div>

		}

	</div>

</li>